[Unit]
Description=MS-SIMULATION ms-time service
Wants=network-online.target
After=network-online.target

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/opt/ms-simulation/ms-time
EnvironmentFile=/etc/ms-simulation/ms-time.env
ExecStart=/usr/bin/java -jar /opt/ms-simulation/ms-time/ms-time.jar
SuccessExitStatus=143
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
